Django
djangorestframework
django-cors-headers
python-dotenv
gunicorn
streamlit
streamlit_extras
requests==2.26.0
ai71
opencv-python
roboflowoak==0.0.12
inference-sdk==0.15.2
supervision
matplotlib
pillow
numpy
